@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE Ð¸ Edge */
  scrollbar-width: none; /* Firefox */
}

@theme inline {
  --color-grey-1000: #101010;
  --color-grey-950: #1a1a1a;
  --color-grey-900: #2d2d2d;
  --color-grey-800: #5a5a5a;
  --color-grey-700: #878787;
  --color-grey-600: #b4b4b4;
  --color-grey-500: #e1e1e1;
  --color-grey-400: #e7e7e7;
  --color-grey-300: #ededed;
  --color-grey-200: #f3f3f3;
  --color-grey-100: #f9f9f9;
  --color-grey-0: #ffffff;
  --color-primary-600: #3340ba;
  --color-primary-500: #4050e9;
  --color-primary-400: #6673ed;
  --color-primary-300: #8c96f2;
  --color-info-600: #3340ba;
  --color-info-300: #858cd6;
  --color-danger-600: #b10000;
  --color-danger-300: #d06666;
  --color-warning-600: #e28706;
  --color-warning-300: #eeb76a;
  --color-success-600: #00660e;
  --color-success-300: #66a36e;
  --color-background-dark: #101010;
  --color-background-light: #ffffff;

  --space-sm: 2px;
  --space-md: 4px;
  --space-lg: 8px;
  --space-xl: 16px;
  --space-2xl: 20px;
  --space-3xl: 24px;
  --space-4xl: 40px;
  --space-5xl: 56px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;
}

:root {
  --background: var(--color-grey-0);
  --inactive: var(--color-grey-0);
  --secondary: var(--color-grey-100);
  --search: var(--color-grey-100);
  --inactive-radio: var(--color-grey-400);
  --inactive-bg: var(--color-grey-400);
  --inactive-button: var(--color-grey-500);
  --inactive-checkbox: var(--color-grey-1000);
  --icon: var(--color-grey-800);
  --inactive-text: var(--color-grey-800);
  --breadcrumb: var(--color-grey-600);
  --foreground: var(--color-grey-1000);
  --active-text: var(--color-grey-1000);
  --primary: var(--color-primary-500);
  --active: var(--color-primary-600);
  --active-secondary: var(--color-primary-600);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: var(--color-grey-800);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
  --background: var(--color-grey-1000);
  --inactive: var(--color-grey-600);
  --secondary: var(--color-grey-900);
  --search: var(--color-grey-800);
  --icon: var(--color-grey-600);
  --inactive-radio: var(--color-grey-700);
  --inactive-bg: var(--color-grey-900);
  --inactive-button: var(--color-grey-900);
  --inactive-checkbox: var(--color-grey-800);
  --breadcrumb: var(--color-grey-800);
  --inactive-text: var(--color-grey-400);
  --foreground: var(--color-grey-0);
  --active-text: var(--color-grey-600);
  --primary: var(--color-primary-400);
  --active: var(--color-primary-500);
  --active-secondary: var(--color-primary-300);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;

  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--color-grey-400);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
